.normal {
    background-position: -20px -40px;
}
.fire {
    background-position: -130px -40px;
}
.water {
    background-position: -238px -40px;
}
.electric {
    background-position: -346px -40px;
}
.grass {
    background-position: -456px -40px;
}
.ice {
    background-position: -564px -40px;
}
.fighting {
    background-position: -20px -139px;
}
.poison {
    background-position: -130px -139px;
}
.ground {
    background-position: -238px -139px;
}
.flying {
    background-position: -346px -139px;
}
.psychic {
    background-position: -456px -139px;
}
.bug {
    background-position: -564px -139px;
}
.rock {
    background-position: -20px -244px;
}
.ghost {
    background-position: -130px -244px;
}
.dragon {
    background-position: -238px -242px;
}
.dark {
    background-position: -346px -242px;
}
.steel {
    background-position: -456px -242px;
}
.fairy {
    background-position: -564px -242px;
}